table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
  border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #3399ff;
    color: #ffffff;
  }
  
  tr:nth-child(even) {
    background-color: #e6f2ff;
  }
  .add {
      border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #3399ff;
    color: #ffffff;
  }
  
  .logout {
      border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #3399ff;
    color: #ffffff;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .logOut {
 	text-align: right;
  }
  
  